*{
 box-sizing: border-box;
 /* background-color: #07485B; */
 /* color: white; */
}
body{
  background-color: #07485B;
  color: white;
}
.App{
 max-width: 400px;
 margin: 30px auto;
}
.App h1{
 text-align: center;
 margin: 0xp;
}
form{
  margin-top: 20px;
}
form input{
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: #0D6986 1px solid;
}
form .basic{
  display: flex;
  gap: 5px;
}

form button{
  width: 100%;
  padding: 10px;
  background-color: #DB073D;
  border-radius: 5px;
  border: none;
  font-size: 2.2vh;
  font-weight: bold;
  color:#8EC7D2;
  
}
.action-button{
  display: flex;
  margin-top: 10px;
  justify-items: stretch;
  width: 100%;
  column-gap: 10px;
}


.transactions{
  margin-top: 20px;
}
.transaction{
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  border-top: 1px solid #8EC7D2;
}
.transaction:first-child{
  border: none;
}
.transaction .description{
  font-size: .7rem;
  color: #8EC7D2;
}
.transaction .price{
  text-align: right;
}
.transaction .datetime{
  font-size: 0.7rem;
  color: #8EC7D2;
}
.transaction .red{
  color: red;
}
.transaction .green{
  color: rgb(78, 236, 78);
}

.input-vaidation{
  position: absolute;
  margin-left: 120px;
  color: red;
  font-size: 11px;
  margin-top: 10px;
   
}